
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# specific ignored files & directories
projet-encheres.iml
.idea/
/build/classes/classpath.index

.classpath.project
/build/
/.setting/